<div class="nav_bar">
    <div class="title">
        <h1>Book Trading Club</h1>
    </div>
    <div class="nav_links">
        <ul class="nav nav-pills">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="/profile">Profile</a></li>
          <li role="presentation"><a href="/settings">Settings</a></li>
        </ul>
    </div>
</div> <!-- End nav bar -->