<!DOCTYPE HTML>

<html>

    <%- include("head") %>

    
    <body>
    
        
        <div class="container-fluid">
        
            <%- include("header") %>


            
            
            
            
            

            <div class="main">

                <h2>Books Added By Our Users</h2>


            </div>




            
            
            
            
            <%- include("footer") %>
    
        </div> <!-- end fluid container -->    
            
    </body>



</html>


