<%- include("head") %>
<%- include("header") %>


    <div class="main">

        <h2 class="text-center">This is my Profile</h2>
        
        
        <div class="row">
        
            <div class="book_search col-xs-6 col-xs-offset-3">
            
                
                
                <div class="input-group">
                    <input type="text" class="form-control search_term" placeholder="Search Books" />
                    
                    <span class="input-group-btn">
                        <button class="btn btn-success search_books" type="button">Search</button>
                    </span>  
                </div> <!-- end input group -->
                
                
                
                <div class="search_results"></div>
                
                <div class="selection"></div>
            
                
                
            </div> <!-- end col xs 6 -->
        
        </div> <!-- end row -->
        

    </div> <!-- end main -->



<%- include("footer") %>