.container-fluid {
    border: solid;
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 800px;
}

.nav_bar {
    border: solid;
    position: relative;
    height: 150px;
}

.title {

    margin-top: 33px;
    margin-left: 15px;
    float: left;
}

.nav_links {

    width: 250px;
    margin-top: 47px;
    float: right;
}



/***** PROFILE PAGE STYLING ****/

.book_search {

}
.search_results {
    margin-top: 15px;
}
.search_title {
    border-bottom: solid;
    border-width: 1px;
    font-size: 15px;
    height: 65px;
}
.search_title p {
    margin-top: 11px;
}
.search_image {
    border-bottom: solid;
    border-width: 1px;
    padding: 0;
    height: 65px;

}
.search_image img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 0;
    height: 50px;
    width: 50px;
}

.info:hover {
    background: red;
}



.footer {
    border: solid;
    position: absolute;
    width: 100%;
    bottom: 0px;
}




















